{{#each book in model}}
<div>
<p>{{book.title}} by {{book.author}}</p>
<p>
{{link-to 'Show' 'books.show' book}} |
{{link-to 'Edit' 'books.edit' book}} |
<button {{action 'delete' book}}>Delete</button>
</p>
</div>
{{/each}}

<p> {{link-to 'Add a Book' 'books.new'}} </p>
